{% extends 'courses/main-layout.html' %}
{% block main_section %}

    <div class="container mt-5">
        <h2>{{ title }}</h2>
        {% if user.is_authenticated == False or user.profile.account_type == "Бесплатный пакет" %}
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Бесплатный</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">0<small class="text-muted fw-light">рублей</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Бесплатные курсы</li>
              <li>Тех-поддержка</li>
              <li>Консультации</li>
              <li>Домашние работы</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Зарегистрироваться</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Полный</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">1500 <small class="text-muted fw-light">рублей</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Полностью все курсы</li>
              <li>Улучшенная тех-поддержка</li>
              <li>Консультации</li>
              <li>Домашние работы</li>
            </ul>
            <a href="{{ url }}" class="w-100 btn btn-lg btn-primary">Приобрести</a>
          </div>
        </div>
      </div>
    </div>
      {% else %}
        <p>У вас куплена максимальная подписка</p>
      {% endif %}
    </div>
{% endblock %}